
<!-- TEMPORARY FILE BEFORE MERGING INTO THE ROBOT URDF -->

<!-- camera urdf -->

	<link name="${prefix}tool0"/>
    <joint name="${prefix}tool0-camera_link" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="${prefix}tool0"/>
        <child link="${prefix}camera_link"/>
    </joint>

<!-- camera -->

    <link name="${prefix}camera_link">
        <visual>
            <geometry>
                <mesh filename="package://meshes/nikond5600/EEF_assembly_v1_visual.STL"/>
            </geometry>
            <material name="yaskawa_blue"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://meshes/nikond5600/EEF_assembly_v1_collision.STL"/>
            </geometry>
        </collision>
    </link>

    <link name="${prefix}camera_tcp"/>
 
    <joint name="${prefix}camera_link-camera_tcp" type="fixed">
        <origin xyz="0.002222 0 0.18415" rpy="0 0 0"/>
        <parent link="${prefix}camera_link"/>
        <child link="${prefix}camera_tcp"/>	
    </joint>